* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(255, 200, 200); 

}

.Container{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 15vw 0 0 0;
}
.Btn1{
    margin: 12vw 0 0 42vw;
    font-size: 69px;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: whitesmoke;
}