* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(255, 200, 200); 
}

.Container {
margin: 42px 0 0 0;
color: brown;
height: 10vh;
width: 100vw;
} 
     .title {
        display: grid;
        place-content: center;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
     }
.Introducere{
    font-family:'Times New Roman', Times, serif;
    margin: auto;
    place-content: center;
    display: grid;
    font-size: 19px;
    text-align: center;
    line-height: 25px;
}
.Back{
    margin: 100px 0 0 70px;
    color: black;
    background-color: #ffc0cb;
    font-size: 20px;
    border-radius: 10px;
    width: 125px;
}
.Back:hover{
    background-color: #ffe3ec;
    border-radius: 10px;
}
.Feedback{
    display: grid;
    width: 50vw;
    height: 20vw;
    place-content: center;
    margin: 5vw 0 0 10vw;
}