* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(255, 200, 200); 
}

.Container {
margin: 42px 0 0 0;
color: brown;
height: 10vh;
width: 100vw;
} 
     .title {
        display: grid;
        place-content: center;
        font-size: 30px;
     }
.Introducere{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    margin: auto;
    place-content: center;
    display: flex;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}

